name: Build & Publish Release APK

on:
    push:
        tags:
            - "*"

jobs:
    Gradle:
        runs-on: ubuntu-latest
        steps:
            - name: checkout code
              uses: actions/checkout@v5
            - name: setup jdk
              uses: actions/setup-java@v3
              with:
                  java-version: 21
                  distribution: temurin
            - name: Make Gradle executable
              run: chmod +x ./gradlew
            - name: Build Release APK
              run: ./gradlew assembleRelease
            - name: Releasing using Hub
              uses: kyze8439690/action-release-releaseapk@master
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN}}
                  APP_FOLDER: android/app/build/outputs/apk/release
                  APP_NAME: app-release.apk
