name: Build & Publish Release APK
permissions:
  contents: write
  id-token: write

on:
  push:
    tags:
      - "*"
  workflow_dispatch:

jobs:
  Gradle:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v6
      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
      - name: Install dependencies
        run: bun install
      - name: Running expo prebuild
        run: bun run expo:prebuild
      - name: setup jdk
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: temurin
      - name: Make Gradle executable
        run: chmod +x ./gradlew
      - name: Build Release APK
        run: ./gradlew assembleRelease

  Release:
    needs: Gradle
    runs-on: ubuntu-latest
    steps:
      - name: Release to GitHub
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: app/build/outputs/apk/release/app-release.apk
